<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quanHuyen">
            <h2><span jhiTranslate="dtlsApp.quanHuyen.detail.title">Quan Huyen</span> {{quanHuyen.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.quanHuyen.tinhThanh">Tinh Thanh</span></dt>
                <dd>
                    <div *ngIf="quanHuyen.tinhThanh">
                        <a [routerLink]="['/tinh-thanh', quanHuyen.tinhThanh?.id, 'view']">{{quanHuyen.tinhThanh?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quan-huyen', quanHuyen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
