<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlsApp.quanHuyen.home.title">Quan Huyens</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quan-huyen" [routerLink]="['/quan-huyen/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="dtlsApp.quanHuyen.home.createLabel">
            Create new Quan Huyen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtlsApp.quanHuyen.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="quanHuyens">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maHuyen"><span jhiTranslate="dtlsApp.quanHuyen.maHuyen">Ma Huyen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenHuyen"><span jhiTranslate="dtlsApp.quanHuyen.tenHuyen">Ten Huyen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="moTa"><span jhiTranslate="dtlsApp.quanHuyen.moTa">Mo Ta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDeleted"><span jhiTranslate="dtlsApp.quanHuyen.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="udf1"><span jhiTranslate="dtlsApp.quanHuyen.udf1">Udf 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="udf2"><span jhiTranslate="dtlsApp.quanHuyen.udf2">Udf 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="udf3"><span jhiTranslate="dtlsApp.quanHuyen.udf3">Udf 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tinhThanh.id"><span jhiTranslate="dtlsApp.quanHuyen.tinhThanh">Tinh Thanh</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quanHuyen of quanHuyens ;trackBy: trackId">
                <td><a [routerLink]="['/quan-huyen', quanHuyen.id, 'view' ]">{{quanHuyen.id}}</a></td>
                <td>{{quanHuyen.maHuyen}}</td>
                <td>{{quanHuyen.tenHuyen}}</td>
                <td>{{quanHuyen.moTa}}</td>
                <td>{{quanHuyen.isDeleted}}</td>
                <td>{{quanHuyen.udf1}}</td>
                <td>{{quanHuyen.udf2}}</td>
                <td>{{quanHuyen.udf3}}</td>
                <td>
                    <div *ngIf="quanHuyen.tinhThanh">
                        <a [routerLink]="['../tinh-thanh', quanHuyen.tinhThanh?.id, 'view' ]" >{{quanHuyen.tinhThanh?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/quan-huyen', quanHuyen.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quan-huyen', quanHuyen.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quan-huyen/'+ quanHuyen.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quanHuyens && quanHuyens.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
