<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="haiCotLietSi">
            <h2><span jhiTranslate="dtlsApp.haiCotLietSi.detail.title">Hai Cot Liet Si</span> {{haiCotLietSi.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.maHaiCot">Ma Hai Cot</span></dt>
                <dd>
                    <span>{{haiCotLietSi.maHaiCot}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.moTa">Mo Ta</span></dt>
                <dd>
                    <span>{{haiCotLietSi.moTa}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{haiCotLietSi.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.udf1">Udf 1</span></dt>
                <dd>
                    <span>{{haiCotLietSi.udf1}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.udf2">Udf 2</span></dt>
                <dd>
                    <span>{{haiCotLietSi.udf2}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.udf3">Udf 3</span></dt>
                <dd>
                    <span>{{haiCotLietSi.udf3}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.lietSi">Liet Si</span></dt>
                <dd>
                    <div *ngIf="haiCotLietSi.lietSi">
                        <a [routerLink]="['/ho-so-liet-si', haiCotLietSi.lietSi?.id, 'view']">{{haiCotLietSi.lietSi?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dtlsApp.haiCotLietSi.thongTinKhaiQuat">Thong Tin Khai Quat</span></dt>
                <dd>
                    <div *ngIf="haiCotLietSi.thongTinKhaiQuat">
                        <a [routerLink]="['/thong-tin-khai-quat', haiCotLietSi.thongTinKhaiQuat?.id, 'view']">{{haiCotLietSi.thongTinKhaiQuat?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hai-cot-liet-si', haiCotLietSi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
