<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="thanNhanLietSi">
            <h2><span jhiTranslate="dtlsApp.thanNhanLietSi.detail.title">Than Nhan Liet Si</span> {{thanNhanLietSi.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.moTa">Mo Ta</span></dt>
                <dd>
                    <span>{{thanNhanLietSi.moTa}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{thanNhanLietSi.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.udf1">Udf 1</span></dt>
                <dd>
                    <span>{{thanNhanLietSi.udf1}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.udf2">Udf 2</span></dt>
                <dd>
                    <span>{{thanNhanLietSi.udf2}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.udf3">Udf 3</span></dt>
                <dd>
                    <span>{{thanNhanLietSi.udf3}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.lietSi">Liet Si</span></dt>
                <dd>
                    <div *ngIf="thanNhanLietSi.lietSi">
                        <a [routerLink]="['/ho-so-liet-si', thanNhanLietSi.lietSi?.id, 'view']">{{thanNhanLietSi.lietSi?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.thanNhan">Than Nhan</span></dt>
                <dd>
                    <div *ngIf="thanNhanLietSi.thanNhan">
                        <a [routerLink]="['/ho-so-than-nhan', thanNhanLietSi.thanNhan?.id, 'view']">{{thanNhanLietSi.thanNhan?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dtlsApp.thanNhanLietSi.quanHeThanNhan">Quan He Than Nhan</span></dt>
                <dd>
                    <div *ngIf="thanNhanLietSi.quanHeThanNhan">
                        <a [routerLink]="['/quan-he-than-nhan', thanNhanLietSi.quanHeThanNhan?.id, 'view']">{{thanNhanLietSi.quanHeThanNhan?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/than-nhan-liet-si', thanNhanLietSi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
