<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-than-nhan-liet-si-heading" jhiTranslate="dtlsApp.thanNhanLietSi.home.createOrEditLabel">Create or edit a Than Nhan Liet Si</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!thanNhanLietSi.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="thanNhanLietSi.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.thanNhanLietSi.moTa" for="field_moTa">Mo Ta</label>
                    <input type="text" class="form-control" name="moTa" id="field_moTa"
                        [(ngModel)]="thanNhanLietSi.moTa" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.thanNhanLietSi.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="thanNhanLietSi.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.thanNhanLietSi.hoSoLietSi" for="field_hoSoLietSi">Ho So Liet Si</label>
                    <select class="form-control" id="field_hoSoLietSi" name="hoSoLietSi" [(ngModel)]="thanNhanLietSi.hoSoLietSi" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hoSoLietSiOption.id === thanNhanLietSi.hoSoLietSi?.id ? thanNhanLietSi.hoSoLietSi : hoSoLietSiOption" *ngFor="let hoSoLietSiOption of hosolietsis; trackBy: trackHoSoLietSiById">{{hoSoLietSiOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.thanNhanLietSi.quanHeThanNhan" for="field_quanHeThanNhan">Quan He Than Nhan</label>
                    <select class="form-control" id="field_quanHeThanNhan" name="quanHeThanNhan" [(ngModel)]="thanNhanLietSi.quanHeThanNhan" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quanHeThanNhanOption.id === thanNhanLietSi.quanHeThanNhan?.id ? thanNhanLietSi.quanHeThanNhan : quanHeThanNhanOption" *ngFor="let quanHeThanNhanOption of quanhethannhans; trackBy: trackQuanHeThanNhanById">{{quanHeThanNhanOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.thanNhanLietSi.hoSoThanNhan" for="field_hoSoThanNhan">Ho So Than Nhan</label>
                    <select class="form-control" id="field_hoSoThanNhan" name="hoSoThanNhan" [(ngModel)]="thanNhanLietSi.hoSoThanNhan" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hoSoThanNhanOption.id === thanNhanLietSi.hoSoThanNhan?.id ? thanNhanLietSi.hoSoThanNhan : hoSoThanNhanOption" *ngFor="let hoSoThanNhanOption of hosothannhans; trackBy: trackHoSoThanNhanById">{{hoSoThanNhanOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
