<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phongBan">
            <h2><span jhiTranslate="dtlsApp.phongBan.detail.title">Phong Ban</span> {{phongBan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.phongBan.maPhongBan">Ma Phong Ban</span></dt>
                <dd>
                    <span>{{phongBan.maPhongBan}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.phongBan.tenPhongBan">Ten Phong Ban</span></dt>
                <dd>
                    <span>{{phongBan.tenPhongBan}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.phongBan.moTa">Mo Ta</span></dt>
                <dd>
                    <span>{{phongBan.moTa}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.phongBan.isActive">Is Active</span></dt>
                <dd>
                    <span>{{phongBan.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.phongBan.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{phongBan.isDeleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phong-ban', phongBan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
