<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-phong-ban-heading" jhiTranslate="dtlsApp.phongBan.home.createOrEditLabel">Create or edit a Phong Ban</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!phongBan.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="phongBan.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.maPhongBan" for="field_maPhongBan">Ma Phong Ban</label>
                    <input type="text" class="form-control" name="maPhongBan" id="field_maPhongBan"
                        [(ngModel)]="phongBan.maPhongBan" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.tenPhongBan" for="field_tenPhongBan">Ten Phong Ban</label>
                    <input type="text" class="form-control" name="tenPhongBan" id="field_tenPhongBan"
                        [(ngModel)]="phongBan.tenPhongBan" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.moTa" for="field_moTa">Mo Ta</label>
                    <input type="text" class="form-control" name="moTa" id="field_moTa"
                        [(ngModel)]="phongBan.moTa" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="phongBan.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="phongBan.isDeleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.udf1" for="field_udf1">Udf 1</label>
                    <input type="text" class="form-control" name="udf1" id="field_udf1"
                        [(ngModel)]="phongBan.udf1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.udf2" for="field_udf2">Udf 2</label>
                    <input type="text" class="form-control" name="udf2" id="field_udf2"
                        [(ngModel)]="phongBan.udf2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.udf3" for="field_udf3">Udf 3</label>
                    <input type="text" class="form-control" name="udf3" id="field_udf3"
                        [(ngModel)]="phongBan.udf3" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.phongBan.trungtam" for="field_trungtam">Trungtam</label>
                    <select class="form-control" id="field_trungtam" name="trungtam" [(ngModel)]="phongBan.trungtam" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trungTamOption.id === phongBan.trungtam?.id ? phongBan.trungtam : trungTamOption" *ngFor="let trungTamOption of trungtams; trackBy: trackTrungTamById">{{trungTamOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
