<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-di-vat-heading" jhiTranslate="dtlsApp.diVat.home.createOrEditLabel">Create or edit a Di Vat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!diVat.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="diVat.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diVat.giaTri" for="field_giaTri">Gia Tri</label>
                    <input type="text" class="form-control" name="giaTri" id="field_giaTri"
                        [(ngModel)]="diVat.giaTri" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diVat.moTa" for="field_moTa">Mo Ta</label>
                    <input type="text" class="form-control" name="moTa" id="field_moTa"
                        [(ngModel)]="diVat.moTa" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diVat.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="diVat.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diVat.thongTinKhaiQuat" for="field_thongTinKhaiQuat">Thong Tin Khai Quat</label>
                    <select class="form-control" id="field_thongTinKhaiQuat" name="thongTinKhaiQuat" [(ngModel)]="diVat.thongTinKhaiQuat" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="thongTinKhaiQuatOption.id === diVat.thongTinKhaiQuat?.id ? diVat.thongTinKhaiQuat : thongTinKhaiQuatOption" *ngFor="let thongTinKhaiQuatOption of thongtinkhaiquats; trackBy: trackThongTinKhaiQuatById">{{thongTinKhaiQuatOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diVat.loaiDiVat" for="field_loaiDiVat">Loai Di Vat</label>
                    <select class="form-control" id="field_loaiDiVat" name="loaiDiVat" [(ngModel)]="diVat.loaiDiVat" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="loaiDiVatOption.id === diVat.loaiDiVat?.id ? diVat.loaiDiVat : loaiDiVatOption" *ngFor="let loaiDiVatOption of loaidivats; trackBy: trackLoaiDiVatById">{{loaiDiVatOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
