<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="donViThoiKy">
            <h2><span jhiTranslate="dtlsApp.donViThoiKy.detail.title">Don Vi Thoi Ky</span> {{donViThoiKy.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.tuNam">Tu Nam</span></dt>
                <dd>
                    <span>{{donViThoiKy.tuNam}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.denNam">Den Nam</span></dt>
                <dd>
                    <span>{{donViThoiKy.denNam}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.diaDiemMoTa">Dia Diem Mo Ta</span></dt>
                <dd>
                    <span>{{donViThoiKy.diaDiemMoTa}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.diaDiemXa">Dia Diem Xa</span></dt>
                <dd>
                    <span>{{donViThoiKy.diaDiemXa}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.diaDiemHuyen">Dia Diem Huyen</span></dt>
                <dd>
                    <span>{{donViThoiKy.diaDiemHuyen}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.diaDiemTinh">Dia Diem Tinh</span></dt>
                <dd>
                    <span>{{donViThoiKy.diaDiemTinh}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{donViThoiKy.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.udf1">Udf 1</span></dt>
                <dd>
                    <span>{{donViThoiKy.udf1}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.udf2">Udf 2</span></dt>
                <dd>
                    <span>{{donViThoiKy.udf2}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.udf3">Udf 3</span></dt>
                <dd>
                    <span>{{donViThoiKy.udf3}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.donViThoiKy.donVi">Don Vi</span></dt>
                <dd>
                    <div *ngIf="donViThoiKy.donVi">
                        <a [routerLink]="['/don-vi', donViThoiKy.donVi?.id, 'view']">{{donViThoiKy.donVi?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/don-vi-thoi-ky', donViThoiKy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
