<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlsApp.thongTinMo.home.title">Thong Tin Mos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-thong-tin-mo" [routerLink]="['/thong-tin-mo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="dtlsApp.thongTinMo.home.createLabel">
            Create new Thong Tin Mo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtlsApp.thongTinMo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="thongTinMos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="khuMo"><span jhiTranslate="dtlsApp.thongTinMo.khuMo">Khu Mo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loMo"><span jhiTranslate="dtlsApp.thongTinMo.loMo">Lo Mo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hangMo"><span jhiTranslate="dtlsApp.thongTinMo.hangMo">Hang Mo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="soMo"><span jhiTranslate="dtlsApp.thongTinMo.soMo">So Mo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="moTa"><span jhiTranslate="dtlsApp.thongTinMo.moTa">Mo Ta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDeleted"><span jhiTranslate="dtlsApp.thongTinMo.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="udf1"><span jhiTranslate="dtlsApp.thongTinMo.udf1">Udf 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="udf2"><span jhiTranslate="dtlsApp.thongTinMo.udf2">Udf 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="udf3"><span jhiTranslate="dtlsApp.thongTinMo.udf3">Udf 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nghiaTrang.id"><span jhiTranslate="dtlsApp.thongTinMo.nghiaTrang">Nghia Trang</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let thongTinMo of thongTinMos ;trackBy: trackId">
                <td><a [routerLink]="['/thong-tin-mo', thongTinMo.id, 'view' ]">{{thongTinMo.id}}</a></td>
                <td>{{thongTinMo.khuMo}}</td>
                <td>{{thongTinMo.loMo}}</td>
                <td>{{thongTinMo.hangMo}}</td>
                <td>{{thongTinMo.soMo}}</td>
                <td>{{thongTinMo.moTa}}</td>
                <td>{{thongTinMo.isDeleted}}</td>
                <td>{{thongTinMo.udf1}}</td>
                <td>{{thongTinMo.udf2}}</td>
                <td>{{thongTinMo.udf3}}</td>
                <td>
                    <div *ngIf="thongTinMo.nghiaTrang">
                        <a [routerLink]="['../nghia-trang', thongTinMo.nghiaTrang?.id, 'view' ]" >{{thongTinMo.nghiaTrang?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/thong-tin-mo', thongTinMo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/thong-tin-mo', thongTinMo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'thong-tin-mo/'+ thongTinMo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="thongTinMos && thongTinMos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
