<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-diem-dot-bien-heading" jhiTranslate="dtlsApp.diemDotBien.home.createOrEditLabel">Create or edit a Diem Dot Bien</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!diemDotBien.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="diemDotBien.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.viTri" for="field_viTri">Vi Tri</label>
                    <input type="number" class="form-control" name="viTri" id="field_viTri"
                        [(ngModel)]="diemDotBien.viTri" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.giaTri" for="field_giaTri">Gia Tri</label>
                    <input type="text" class="form-control" name="giaTri" id="field_giaTri"
                        [(ngModel)]="diemDotBien.giaTri" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="diemDotBien.isDeleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.udf1" for="field_udf1">Udf 1</label>
                    <input type="text" class="form-control" name="udf1" id="field_udf1"
                        [(ngModel)]="diemDotBien.udf1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.udf2" for="field_udf2">Udf 2</label>
                    <input type="text" class="form-control" name="udf2" id="field_udf2"
                        [(ngModel)]="diemDotBien.udf2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.udf3" for="field_udf3">Udf 3</label>
                    <input type="text" class="form-control" name="udf3" id="field_udf3"
                        [(ngModel)]="diemDotBien.udf3" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.vungADN" for="field_vungADN">Vung ADN</label>
                    <select class="form-control" id="field_vungADN" name="vungADN" [(ngModel)]="diemDotBien.vungADN" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vungADNOption.id === diemDotBien.vungADN?.id ? diemDotBien.vungADN : vungADNOption" *ngFor="let vungADNOption of vungadns; trackBy: trackVungADNById">{{vungADNOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.diemDotBien.mauDiemDotBien" for="field_mauDiemDotBien">Mau Diem Dot Bien</label>
                    <select class="form-control" id="field_mauDiemDotBien" name="mauDiemDotBien" [(ngModel)]="diemDotBien.mauDiemDotBien" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mauXetNghiemOption.id === diemDotBien.mauDiemDotBien?.id ? diemDotBien.mauDiemDotBien : mauXetNghiemOption" *ngFor="let mauXetNghiemOption of mauxetnghiems; trackBy: trackMauXetNghiemById">{{mauXetNghiemOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
