<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlsApp.phuongXa.home.title">Phuong Xas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-phuong-xa" [routerLink]="['/phuong-xa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="dtlsApp.phuongXa.home.createLabel">
            Create new Phuong Xa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtlsApp.phuongXa.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="phuongXas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dtlsApp.phuongXa.maXa">Ma Xa</span></th>
            <th><span jhiTranslate="dtlsApp.phuongXa.tenXa">Ten Xa</span></th>
            <th><span jhiTranslate="dtlsApp.phuongXa.moTa">Mo Ta</span></th>
            <th><span jhiTranslate="dtlsApp.phuongXa.quanHuyen">Quan Huyen</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let phuongXa of phuongXas ;trackBy: trackId">
                <td><a [routerLink]="['/phuong-xa', phuongXa.id, 'view' ]">{{phuongXa.id}}</a></td>
                <td>{{phuongXa.maXa}}</td>
                <td>{{phuongXa.tenXa}}</td>
                <td>{{phuongXa.moTa}}</td>
                <td>
                    <div *ngIf="phuongXa.quanHuyen">
                        <a [routerLink]="['../quan-huyen', phuongXa.quanHuyen?.id, 'view' ]" >{{phuongXa.quanHuyen?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/phuong-xa', phuongXa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/phuong-xa', phuongXa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'phuong-xa/'+ phuongXa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
