<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nhanDang">
            <h2><span jhiTranslate="dtlsApp.nhanDang.detail.title">Nhan Dang</span> {{nhanDang.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.nhanDang.maNhanDang">Ma Nhan Dang</span></dt>
                <dd>
                    <span>{{nhanDang.maNhanDang}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanDang.tenNhanDang">Ten Nhan Dang</span></dt>
                <dd>
                    <span>{{nhanDang.tenNhanDang}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanDang.donViTinh">Don Vi Tinh</span></dt>
                <dd>
                    <span>{{nhanDang.donViTinh}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanDang.moTa">Mo Ta</span></dt>
                <dd>
                    <span>{{nhanDang.moTa}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanDang.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{nhanDang.isDeleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nhan-dang', nhanDang.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
