<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tinh-sach-phan-ung-heading" jhiTranslate="dtlsApp.tinhSachPhanUng.home.createOrEditLabel">Create or edit a Tinh Sach Phan Ung</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tinhSachPhanUng.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tinhSachPhanUng.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.dungTichSuDung" for="field_dungTichSuDung">Dung Tich Su Dung</label>
                    <input type="number" class="form-control" name="dungTichSuDung" id="field_dungTichSuDung"
                        [(ngModel)]="tinhSachPhanUng.dungTichSuDung" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.chuTrinhNhietDo" for="field_chuTrinhNhietDo">Chu Trinh Nhiet Do</label>
                    <input type="text" class="form-control" name="chuTrinhNhietDo" id="field_chuTrinhNhietDo"
                        [(ngModel)]="tinhSachPhanUng.chuTrinhNhietDo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="tinhSachPhanUng.isDeleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.udf1" for="field_udf1">Udf 1</label>
                    <input type="text" class="form-control" name="udf1" id="field_udf1"
                        [(ngModel)]="tinhSachPhanUng.udf1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.udf2" for="field_udf2">Udf 2</label>
                    <input type="text" class="form-control" name="udf2" id="field_udf2"
                        [(ngModel)]="tinhSachPhanUng.udf2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.udf3" for="field_udf3">Udf 3</label>
                    <input type="text" class="form-control" name="udf3" id="field_udf3"
                        [(ngModel)]="tinhSachPhanUng.udf3" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.tinhSach" for="field_tinhSach">Tinh Sach</label>
                    <select class="form-control" id="field_tinhSach" name="tinhSach" [(ngModel)]="tinhSachPhanUng.tinhSach" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tinhSachOption.id === tinhSachPhanUng.tinhSach?.id ? tinhSachPhanUng.tinhSach : tinhSachOption" *ngFor="let tinhSachOption of tinhsaches; trackBy: trackTinhSachById">{{tinhSachOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dtlsApp.tinhSachPhanUng.hoaChatTinhSach" for="field_hoaChatTinhSach">Hoa Chat Tinh Sach</label>
                    <select class="form-control" id="field_hoaChatTinhSach" name="hoaChatTinhSach" [(ngModel)]="tinhSachPhanUng.hoaChatTinhSach" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hoaChatOption.id === tinhSachPhanUng.hoaChatTinhSach?.id ? tinhSachPhanUng.hoaChatTinhSach : hoaChatOption" *ngFor="let hoaChatOption of hoachats; trackBy: trackHoaChatById">{{hoaChatOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
