<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlsApp.tachChiet.home.title">Tach Chiets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tach-chiet" [routerLink]="['/tach-chiet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="dtlsApp.tachChiet.home.createLabel">
            Create new Tach Chiet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtlsApp.tachChiet.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tachChiets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.maTachChiet">Ma Tach Chiet</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.moTa">Mo Ta</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.ghiChu">Ghi Chu</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.thoiGianThucHien">Thoi Gian Thuc Hien</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.phuongPhapLoc">Phuong Phap Loc</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.udf1">Udf 1</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.udf2">Udf 2</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.udf3">Udf 3</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.nhanVienNghienMau">Nhan Vien Nghien Mau</span></th>
            <th><span jhiTranslate="dtlsApp.tachChiet.nhanVienTachADN">Nhan Vien Tach ADN</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tachChiet of tachChiets ;trackBy: trackId">
                <td><a [routerLink]="['/tach-chiet', tachChiet.id, 'view' ]">{{tachChiet.id}}</a></td>
                <td>{{tachChiet.maTachChiet}}</td>
                <td>{{tachChiet.moTa}}</td>
                <td>{{tachChiet.ghiChu}}</td>
                <td>{{tachChiet.thoiGianThucHien | date:'medium'}}</td>
                <td jhiTranslate="{{'dtlsApp.PhuongPhapLoc.' + tachChiet.phuongPhapLoc}}">{{tachChiet.phuongPhapLoc}}</td>
                <td>{{tachChiet.isDeleted}}</td>
                <td>{{tachChiet.udf1}}</td>
                <td>{{tachChiet.udf2}}</td>
                <td>{{tachChiet.udf3}}</td>
                <td>
                    <div *ngIf="tachChiet.nhanVienNghienMau">
                        <a [routerLink]="['../nhan-vien', tachChiet.nhanVienNghienMau?.id, 'view' ]" >{{tachChiet.nhanVienNghienMau?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tachChiet.nhanVienTachADN">
                        <a [routerLink]="['../nhan-vien', tachChiet.nhanVienTachADN?.id, 'view' ]" >{{tachChiet.nhanVienTachADN?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tach-chiet', tachChiet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tach-chiet', tachChiet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tach-chiet/'+ tachChiet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
