<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pCRPhanUngChuan">
            <h2><span jhiTranslate="dtlsApp.pCRPhanUngChuan.detail.title">PCR Phan Ung Chuan</span> {{pCRPhanUngChuan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.pCRPhanUngChuan.chuKyPhanUng">Chu Ky Phan Ung</span></dt>
                <dd>
                    <span>{{pCRPhanUngChuan.chuKyPhanUng}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.pCRPhanUngChuan.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{pCRPhanUngChuan.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.pCRPhanUngChuan.udf1">Udf 1</span></dt>
                <dd>
                    <span>{{pCRPhanUngChuan.udf1}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.pCRPhanUngChuan.udf2">Udf 2</span></dt>
                <dd>
                    <span>{{pCRPhanUngChuan.udf2}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.pCRPhanUngChuan.udf3">Udf 3</span></dt>
                <dd>
                    <span>{{pCRPhanUngChuan.udf3}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pcr-phan-ung-chuan', pCRPhanUngChuan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
