<div>
    <h2 id="page-heading">
        <span jhiTranslate="dtlsApp.hoSoGiamDinh.home.title">Ho So Giam Dinhs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ho-so-giam-dinh" [routerLink]="['/ho-so-giam-dinh/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="dtlsApp.hoSoGiamDinh.home.createLabel">
            Create new Ho So Giam Dinh
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtlsApp.hoSoGiamDinh.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hoSoGiamDinhs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.maHSGD">Ma HSGD</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.udf1">Udf 1</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.udf2">Udf 2</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.udf3">Udf 3</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.giamDinhThanNhan">Giam Dinh Than Nhan</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.giamDinhLietSi">Giam Dinh Liet Si</span></th>
            <th><span jhiTranslate="dtlsApp.hoSoGiamDinh.nhanVienHSGD">Nhan Vien HSGD</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hoSoGiamDinh of hoSoGiamDinhs ;trackBy: trackId">
                <td><a [routerLink]="['/ho-so-giam-dinh', hoSoGiamDinh.id, 'view' ]">{{hoSoGiamDinh.id}}</a></td>
                <td>{{hoSoGiamDinh.maHSGD}}</td>
                <td>{{hoSoGiamDinh.isDeleted}}</td>
                <td>{{hoSoGiamDinh.udf1}}</td>
                <td>{{hoSoGiamDinh.udf2}}</td>
                <td>{{hoSoGiamDinh.udf3}}</td>
                <td>
                    <span *ngFor="let giamDinhThanNhan of hoSoGiamDinh.giamDinhThanNhans; let last = last">
                            <a class="form-control-static" [routerLink]="['../ho-so-than-nhan', giamDinhThanNhan?.id, 'view' ]">{{giamDinhThanNhan.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let giamDinhLietSi of hoSoGiamDinh.giamDinhLietSis; let last = last">
                            <a class="form-control-static" [routerLink]="['../ho-so-liet-si', giamDinhLietSi?.id, 'view' ]">{{giamDinhLietSi.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="hoSoGiamDinh.nhanVienHSGD">
                        <a [routerLink]="['../nhan-vien', hoSoGiamDinh.nhanVienHSGD?.id, 'view' ]" >{{hoSoGiamDinh.nhanVienHSGD?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ho-so-giam-dinh', hoSoGiamDinh.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ho-so-giam-dinh', hoSoGiamDinh.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ho-so-giam-dinh/'+ hoSoGiamDinh.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
