<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nhanVien">
            <h2><span jhiTranslate="dtlsApp.nhanVien.detail.title">Nhan Vien</span> {{nhanVien.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dtlsApp.nhanVien.maNhanVien">Ma Nhan Vien</span></dt>
                <dd>
                    <span>{{nhanVien.maNhanVien}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.tenNhanVien">Ten Nhan Vien</span></dt>
                <dd>
                    <span>{{nhanVien.tenNhanVien}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.soDienThoai">So Dien Thoai</span></dt>
                <dd>
                    <span>{{nhanVien.soDienThoai}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.email">Email</span></dt>
                <dd>
                    <span>{{nhanVien.email}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.moTa">Mo Ta</span></dt>
                <dd>
                    <span>{{nhanVien.moTa}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.ghiChu">Ghi Chu</span></dt>
                <dd>
                    <span>{{nhanVien.ghiChu}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{nhanVien.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.udf1">Udf 1</span></dt>
                <dd>
                    <span>{{nhanVien.udf1}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.udf2">Udf 2</span></dt>
                <dd>
                    <span>{{nhanVien.udf2}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.udf3">Udf 3</span></dt>
                <dd>
                    <span>{{nhanVien.udf3}}</span>
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.userNhanVien">User Nhan Vien</span></dt>
                <dd>
                    {{nhanVien.userNhanVien?.id}}
                </dd>
                <dt><span jhiTranslate="dtlsApp.nhanVien.phongban">Phongban</span></dt>
                <dd>
                    <div *ngIf="nhanVien.phongban">
                        <a [routerLink]="['/phong-ban', nhanVien.phongban?.id, 'view']">{{nhanVien.phongban?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nhan-vien', nhanVien.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
